/*******************************************************************************
 * ROFI Color theme
 * User: Rasi
 * Copyright: BurningTurtle
 *******************************************************************************/

* {
    font: "JetBrainsMono bold 13";
    selected-normal-foreground:  #000000;
    foreground:                  #81f7ff;
    normal-foreground:           @foreground;
    alternate-normal-background: #00000000;
    red:                         #dc322f;
    selected-urgent-foreground:  #ff1844;
    blue:                        #268bd2;
    urgent-foreground:           #ff1844;
    alternate-urgent-background: @normal-foreground;
    active-foreground:           #80cbc4;
    lightbg:                     #eee8d5;
    selected-active-foreground:  #80cbc4;
    alternate-active-background: @normal-foreground;
    background:                  #00000000;
    bordercolor:                 @normal-foreground;
    alternate-normal-foreground: @foreground;
    normal-background:           #00000000;
    lightfg:                     #586875;
    selected-normal-background:  @foreground;
    border-color:                @foreground;
    spacing:                     2;
    separatorcolor:              #1e2529;
    urgent-background:           #00000000;
    selected-urgent-background:  #394249;
    alternate-urgent-foreground: @urgent-foreground;
    background-color:            #00000000;
    alternate-active-foreground: @active-foreground;
    active-background:           #00000000;
    selected-active-background:  #394249;
    show-icons:                  true;
    icon-theme:                  "Nerd-Fonts"; // Replace with your desired icon theme
}
window {
    background-color: rgba(0,0,0, 0.8);
    border:           2;
    border-radius:    20px;
    padding:          10px;
}
mainbox {
    border:  0;
    padding: 0;
}
message {
    border:       1px 2px 0px 0px ;
    border-color: @separatorcolor;
    padding:      1px ;
}
textbox {
    text-color: @foreground;
    padding:    2px 10px; // Increase horizontal padding for more space between icon and text
}
listview {
    fixed-height: 0;
    border:       1px 0px 0px 0px ;
    border-color: @foreground;
    spacing:      2px ;
    scrollbar:    false;
    padding:      2px 0px 0px ;
}
element {
    border:  0;
    padding: 2px 10px; // Increase horizontal padding for better alignment
    border-radius: 10px;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
}
element.normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element.selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}
element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}
element.alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}
/*scrollbar {
    width:        4px ;
    border:       0;
    handle-width: 8px ;
    padding:      0;
}*/
mode-switcher {
    border:       2px dash 0px 0px ;
    border-color: @separatorcolor;
}
button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
inputbar {
    spacing:    0;
    text-color: @normal-foreground;
    padding:    1px ;
}
case-indicator {
    spacing:    0;
    text-color: @normal-foreground;
}
entry {
    spacing:    10px;
    text-color: @normal-foreground;
}
/*prompt {
    spacing:    10;
    border-radius: 15px;
    text-color: @normal-foreground;
}*/
inputbar {
    children:   [textbox-prompt-colon,entry,case-indicator ];
}
textbox-prompt-colon {
    expand:     false;
    str:        ">";
    margin:     0px 0.3em 0em 0em ;
    text-color: @normal-foreground;
}
